.button-content {
  text-align: center;
}

.button-content button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.button-content button:hover {
  background-color: #45a049;
}

.button-content .automatic-button {
  margin-left: 20px;
  background-color:  #007BFF;
}

.button-content .automatic-button:hover {
  background-color: #0056b3;
}

.button-content .del-automatic-button {
  margin-left: 20px;
  background-color: #f44336;
}

.button-content .del-automatic-button:hover {
  background-color: #d32f2f;
}

#task-list {
  max-width: 600px;
  margin: 50px auto;
}

.task {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.task:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.task a {
  text-decoration: none;
  color: inherit;
}

.task a:hover {
  text-decoration: underline;
}

.complete-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #f44336; /* Color rojo */
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f; /* Color rojo oscuro al pasar el mouse */
}

.completed-btn {
  background-color: #C2C2C2;
  color: white;
  cursor: not-allowed;
}

.completed-btn:hover {
  background-color: gray;
}

.toggle {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}